
@{
    ViewBag.Title = "PreRegistration";
}

<h2>PreRegistration</h2>


<form action="/Registration/PreRegistration" method="post">
    <ul>
        @foreach (var item in Model)
        {
            foreach (var courses in item.CourseStudents)
            {
                if (courses.Marks < 60)
                {
                    <li><input type="checkbox" name="course[]" value="@item.Id">  @item.Name | @item.CourseStudents.Count</li>
                }
                else if (courses.Grade == "W")
                {
                    <li><input type="checkbox" name="course[]" value="@item.Id">  @item.Name | @item.CourseStudents.Count</li>

                }
                else if (courses.Status == "Complete")
                {
                    <li><input type="checkbox" name="course[]" value="@item.Id">  @item.Name | @item.CourseStudents.Count</li>

                }
               
               

            }
        }

        </ul>
    <input type="submit" class="btn btn-default"  value="Register" />
</form>